<h2 id="title">Ember-CLI Modern Select</h2>

{{ember-modern-select
    content=model
    selection=selectedModel
    optionValuePath="slug"
    optionLabelPath="title"
    placeholder="Select A Turbine Model"}}
