<h2 id="title">Ember-CLI Modern Select</h2>

{{ember-modern-select
    disabled=disabledControl
    content=attrs.models
    selection=selectedModel
    optionValuePath="slug"
    optionLabelPath="title"
    placeholder="Select A Turbine Model"}}
